body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #f7f3ee;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 10px;
}

button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  background: #e7dfd5;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 45%;
  background: white;
  padding: 15px;
  border-radius: 15px;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .card {
    width: 90%;
  }

  .top-bar button {
    flex: 1 1 30%;
  }
}

canvas {
  width: 100% !important;
  height: 250px !important;
}

.dark {
  background: #111;
  color: white;
}
